<ion-view view-title="Home" data-ng-controller="MyController as ctrl">
	<ion-content>
		<!--<h1>Ionic Directives</h1>
		<br>-->
		<ion-refresher pulling-text="Pull to refresh...." on-refresh="ctrl.updateList()">
		</ion-refresher>

		<ul class="list">
			<li class="item" ng-repeat="user in ctrl.users">
				{{ user }}
			</li>
		</ul>

		<div class="row">
			<div class="col">
				<img style="width:100%" ng-src="{{ ctrl.imageTaken }}" />
			</div>
		</div>

		<!-- Demo Camera -->
		<div class="row">
			<div class="col">
				<button class="button button-calm" ng-click="ctrl.takePicture()">
					Take Picture
				</button>
			</div>
		</div>

		<!-- Demo Image Picker -->
		<div class="row">
			<div class="col">
				<button class="button button-calm" ng-click="ctrl.selectImage()">
					Select Image
				</button>
			</div>
		</div>

		<!-- action sheet -->
		<div class="row">
			<div class="col">
				<button class="button button-calm" ng-click="ctrl.shareButton()">
					Share This Page
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<button class="button button-calm" ng-click="ctrl.submitForm()">
					Submit Form
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<button class="button button-calm" ng-click="ctrl.showLogin()">
					Login First
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<button class="button button-calm" ng-click="ctrl.removeRecord()">
					Remove Record
				</button>
			</div>
		</div>

		<ul class="list">
			<li class="item" ng-repeat="list in ctrl.lists">
				{{ list }}
			</li>
		</ul>

		<ion-infinite-scroll ng-if="ctrl.stillHaveData" on-infinite="ctrl.loadMoreDatas()" distance="50%">
		</ion-infinite-scroll>

	</ion-content>	
</ion-view>