<ion-modal-view>
	<!--<ion-header-bar class="bar bar-header bar-positive">
		<h1>Login Modal</h1>
		<button class="button button-clear button-primary" ng-click="closeMe()">
			x
		</button>
	</ion-header-bar>
	
	<ion-content>
		<div class="list">
			<label class="item item-input">
				<span class="input-label">Email</span>
				<input type="text" placeholder="Email">
			</label>
			<label class="item item-input">
				<span class="input-label">Password</span>
				<input type="password">
			</label>
		</div>
	</ion-content>-->

	<!-- Slide Box -->
	<ion-header-bar class="bar bar-header bar-positive">
		<button class="button button-clear button-primary" ng-click="closeMe()">
			Close
		</button>
		<button class="button button-clear button-primary" ng-click="nextSlide()">
			Next
		</button>
	</ion-header-bar>

	<ion-slide-box>

		<ion-slide>
			<div style="height:300px;background-color:blue"></div>
		</ion-slide>
		<ion-slide>
			<div style="height:300px;background-color:red"></div>
		</ion-slide>
		<ion-slide>
			<div style="height:300px;background-color:yellow"></div>
		</ion-slide>

	</ion-slide-box>

</ion-modal-view>