<ion-view view-title="Wedding Gram">
	<ion-content class="padding">

		<div class="container main"
		     data-ng-controller="PostListCtrl as ctrl">
		    <div class="row w-card" data-ng-repeat="post in ctrl.posts | orderBy: 'createdAt':true track by $index ">
		        <div class="col-xs-3 visible-md visible-lg"></div>
		        <div>

		            <div class="posted-by">
		                <span class="profile">
		                    <img src="img/default-user.jpg" alt=""/>
		                </span>
		                <span style="line-height: 34px; margin-left: 10px;">{{post.user.firstName}} {{post.user.lastName}}</span>

		                <span style="float: right;line-height: 34px;">{{post.createdAt | date:'medium'}}</span>

		            </div>

		            <img class="img-responsive center-block img-rounded" ng-click='ctrl.toggleModal()' width="700" height="400" ng-src="{{post.url}}" style="border: thin solid #ddd;"/>

		            <div class="description">
		                <div class="caption">
		                    {{post.caption}}
		                </div>
		                <div class="likes-comments">
		                    <a data-ng-click="ctrl.like(post)" style="cursor: pointer;">
		                        <img class="like-image"
		                             src="img/like.png"
		                             alt=""/>
		                    </a>
		                    <span class="like-count">
		                        {{post.likeCount || 0}}
		                    </span>
		                    <a  ng-controller="CommentListCtrl as commentCtrl" ng-init="commentCtrl.getComments(post.id)" ng-click="commentCtrl.showComments(post)" class="add-comment">{{commentCtrl.comments.length}} Comments</a>
		                </div>
		            </div>
		        </div>
		        <div class="col-xs-3"></div>
		    </div>

		</div>

	</ion-content>
</ion-view>