<ion-view view-title="Cordova App" data-ng-controller="HomeCtrl as ctrl">
	<ion-content class="padding">

		<div class="row">
			<div class="col" style="text-align:center;">
				<h4>Hi! login to unlock the fun</h4>
			</div>
		</div>
		<div class="row">
			<div class="col" style="text-align:center;">
				<button class="button button-stable" ng-click="ctrl.login()">
				 	Unlock
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col" style="text-align:center;">
				<button class="button button-stable" ng-click="ctrl.shareThis()">
				 	Share This
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col" style="text-align:center;">
				<button class="button button-stable" ng-click="ctrl.nativeAlert()">
				 	Check Native Alert
				</button>
			</div>
		</div>

	</ion-content>
</ion-view>