<ion-view view-title="Settings">
	<ion-content>
		
		<ul class="list">

		  <li class="item item-toggle">
		     Allow Push
		     <label class="toggle toggle-assertive">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>

		  <li class="item item-toggle">
		     Sounds
		     <label class="toggle toggle-assertive">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>

		</ul>

	</ion-content>
</ion-view>